version: "3"

x-django-defaults: &django_defaults
  image: unitystation/central-command
  env_file: ./.env

services:
  db:
    image: postgres
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - db-data:/var/lib/postgresql/data

  web_migration:
    <<: *django_defaults
    command: migrate
    depends_on:
      - db

  web:
    <<: *django_defaults
    depends_on:
      - web_migration
    ports:
      - "8000:8000"

volumes:
  db-data:
