version: "3"

x-django-defaults: &django_defaults
  image: unitystation/unitystation_auth
  env_file: ./.env

services:
  db:
    image: postgres
    env_file: ./.env
    volumes:
      - db-data:/var/lib/postgresql/data

  web_migration:
    <<: *django_defaults
    command: migrate
    depends_on:
      - db

  web:
    <<: *django_defaults
    depends_on:
      - web_migration
    ports:
      - "8000:8000"

volumes:
  db-data:
